* { padding: 0; margin: 0; }

body {
 background-color: #FFFFFF;
 color: #007FFF;
}

@font-face {
    font-family: 'blackout';
    src: url('http://donahut.github.io/sitefonts/blackout.eot');
    src: url('http://donahut.github.io/sitefonts/blackout.eot?#iefix') format('embedded-opentype'),
         url('http://donahut.github.io/sitefonts/blackout.woff') format('woff'),
         url('http://donahut.github.io/sitefonts/blackout.ttf') format('truetype'),
         url('http://donahut.github.io/sitefonts/blackout.svg#blackout') format('svg');
}

.blackoutfont { 
	font-family: "blackout";
}

#wrapper{
	position: relative;
	background-color: #FFFFFF;
	height: 640px;
	width: 800px;
	margin: 0px auto;
}

#navlogowrapper{
	position: relative;
	width: 800px;
	height: 140px;
	margin: 0px auto;
}

#namebar {
	position: absolute;
	right: 0px;
	left: 0px;
	top: 40px;
	background-color: #FFFFFF;
	color: #000000;
	font-family: "Helvetica";
	z-index: 1;
}

#linkbar {
	position: absolute;
	right: 0px;
	left: 0px;
	top: 20px;
	border-bottom: 4px solid #EEE9E9;
	background-color: #FFFFFF;
	color: #000000;
	font-family: "Helvetica";
	z-index: 1;
}


#readscontentcolumn { 
 	position: absolute;
 	top: 40px;
 	left: 0px;
	border: 4px solid #EEE9E9;
 	background-color: #FFFFFF;
 	color: #383838;
 	font-family: "Helvetica";
 	height: 490px;
 	width: 380px;
 	z-index: 2;
}

#sciencecontentcolumn { 
 	position: absolute;
 	top: 40px;
 	left: 410px;
	border: 4px solid #EEE9E9;
 	background-color: #FFFFFF;
 	color: #383838;
 	font-family: "Helvetica";
 	height: 260px;
 	width: 380px;
 	z-index: 2;
}

#musiccontentcolumn { 
 	position: absolute;
 	top: 330px;
 	left: 410px;
	border: 4px solid #EEE9E9;
 	background-color: #FFFFFF;
 	color: #383838;
 	font-family: "Helvetica";
 	height: 200px;
 	width: 380px;
 	z-index: 2;
}

#footer1 {
 	position: absolute;
	top: 570px;
 	left: 0px;
 	border: 4px solid #EEE9E9;
 	background-color: #FFFFFF;
 	color: #383838;
 	font-family: "Helvetica";
 	height: 40px;
 	width: 290px;
 	z-index: 2;
}

#footer2 {
 	position: absolute;
	top: 570px;
 	left: 320px;
 	border: 4px solid #EEE9E9;
	background-color: #FFFFFF;
 	color: #383838;
 	font-family: "Helvetica";
 	height: 40px;
 	width: 470px;
 	z-index: 2;
}