* { padding: 0; margin: 0; }

body {
 background-color: #FFFFFF;
 color: #007FFF;
}

@font-face {
    font-family: 'blackout';
    src: url('http://donahut.github.io/sitefonts/blackout.eot');
    src: url('http://donahut.github.io/sitefonts/blackout.eot?#iefix') format('embedded-opentype'),
         url('http://donahut.github.io/sitefonts/blackout.woff') format('woff'),
         url('http://donahut.github.io/sitefonts/blackout.ttf') format('truetype'),
         url('http://donahut.github.io/sitefonts/blackout.svg#blackout') format('svg');
}

.blackoutfont { 
	font-family: "blackout";
}

#wrapper{
	position: relative;
	background-color: #FFFFFF;
	height: 490px;
	width: 800px;
	margin: 0px auto;
}

#navlogowrapper{
	position: relative;
	width: 800px;
	height: 140px;
	margin: 0px auto;
}

#namebar {
	position: absolute;
	right: 0px;
	left: 0px;
	top: 40px;
	background-color: #FFFFFF;
	color: #000000;
	font-family: "Helvetica Neue", Arial, sans-serif;
	z-index: 1;
}

#linkbar {
	position: absolute;
	right: 0px;
	left: 0px;
	top: 20px;
	border-bottom: 4px solid #EEE9E9;
	background-color: #FFFFFF;
	color: #000000;
	font-family: "Helvetica Neue", Arial, sans-serif;
	z-index: 1;
}

#photocolumn { 
 	position: absolute;
 	top: 40px;
 	left: 0px;
 	border: 4px solid #EEE9E9;
 	background-color: #FFFFFF;
 	color: #383838;
 	font-family: "Helvetica Neue", Arial, sans-serif;
 	height: 340px;
 	width: 290px;
 	z-index: 1;
}

#picture {
    width: 258px;
    height: 318px;
    background-image: url('http://donahut.github.io/siteimages/Me_2.jpg');
}

#picture:hover {
    background-image: url('http://donahut.github.io/siteimages/Me_2_glitched.png');
}

#aboutcolumn { 
 	position: absolute;
 	top: 40px;
 	left: 320px;
 	border: 4px solid #EEE9E9;
 	background-color: #FFFFFF;
 	color: #383838;
 	font-family: "Helvetica Neue", Arial, sans-serif;
 	height: 210px;
	width: 470px;
	z-index: 2;
}

#contactcolumn { 
 	position: absolute;
 	top: 280px;
 	left: 320px;
 	border: 4px solid #EEE9E9;
 	background-color: #FFFFFF;
 	color: #383838;
 	font-family: "Helvetica Neue", Arial, sans-serif;
 	height: 100px;
	width: 470px;
	z-index: 2;
}

#footer1 {
 	position: absolute;
 	top: 420px;
 	left: 0px;
 	border: 4px solid #EEE9E9;
 	background-color: #FFFFFF;
 	color: #383838;
 	font-family: "Helvetica Neue", Arial, sans-serif;
 	height: 40px;
 	width: 290px;
 	z-index: 2;
}

#footer2 {
 	position: absolute;
 	top: 420px;
 	left: 320px;
 	border: 4px solid #EEE9E9;
	background-color: #FFFFFF;
 	color: #383838;
 	font-family: "Helvetica Neue", Arial, sans-serif;
 	height: 40px;
 	width: 470px;
 	z-index: 2;
}